{% extends "base.html" %}

{% block page_title %}mat&met{% endblock %}

{% block body_page_title %}Welcome{% endblock %}



{% block main_pane %}



<div class="hero-unit well-color4">
  <h1>Welcome</h1>
  <p>Mat&Met is a place to read, share, and collaborate on improving scientific protocols.  If you find something helpful, vote it up.  Comment on protocols, steps, and materials to share your expertise and ideas.</p>
  <p>
    <a class="btn btn-primary btn-large" href = 'new'>
      Add a Protocol
    </a>
  </p>
</div>
    
{% endblock main_pane %}